<ion-view title="Education Training" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="educationTraining-form4" class="list ">
            <label class="item item-input date1" id="educationTraining-input15" name="date1">
                <span class="input-label">From</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input date2" id="educationTraining-input16" name="date2">
                <span class="input-label">Till</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input title" id="educationTraining-input14" name="title">
                <span class="input-label">School</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input excerpt" id="educationTraining-input17" name="excerpt">
                <span class="input-label">Program</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input summary" id="educationTraining-textarea5" name="summary">
                <span class="input-label">Summary</span><textarea placeholder=""></textarea>
            </label>
            <div class="spacer" style="width: 300px; height: 12px;"></div>
            <p id="educationTraining-markdown1" style="color:#000000;text-align:center;" class=" ">For
                <strong>an extended</strong>writeup please use the website</p>
            <a href="mailto:" id="educationTraining-button3" class=" button button-positive  button-block submit">Submit</a>
        </form>
    </ion-content>
</ion-view>