<ion-view title="Skills" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="skills-form7" class="list ">
            <label class="item item-select title" id="skills-select5" name="title">
                <span class="input-label">Select</span>
                <select>
                    <option>Credential</option>
                    <option>Qualification</option>
                    <option>Experience</option>
                    <option>Specialized Skills</option>
                    <option>Technical Skills</option>
                    <option>Computer Skills</option>
                    <option>Software Skills</option>
                    <option>Technologies</option>
                    <option>Technical Experience</option>
                    <option>Proficiencie</option>
                    <option>Programming Languages</option>
                </select>
            </label>
            <label class="item item-input excerpt" id="skills-input24" name="excerpt">
                <span class="input-label">Title</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input summary" id="skills-textarea7" name="summary">
                <span class="input-label">Summary</span><textarea placeholder=""></textarea>
            </label>
            <ion-item class="range range-positive custom2" id="skills-range1">Rating
                <input type="range" value="50" min="0" max="100" name="custom2">
            </ion-item>
        </form>
        <button id="skills-button6" class=" button button-positive  button-block ">Submit</button>
    </ion-content>
</ion-view>