<ion-view title="Interests" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="interests-form11" class="list ">
            <label class="item item-select title" id="interests-select9" name="title">
                <span class="input-label">Type</span>
                <select>
                    <option>Hobby</option>
                    <option>Sport</option>
                    <option>Personal Interest</option>
                </select>
            </label>
            <label class="item item-input excerpt" id="interests-input32" name="excerpt">
                <span class="input-label">Title</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input summary" id="interests-textarea11" name="summary">
                <span class="input-label">Summary</span><textarea placeholder="Very Optional"></textarea>
            </label>
        </form>
        <button id="interests-button10" class=" button button-positive  button-block ">Submit</button>
    </ion-content>
</ion-view>