<ion-view title="Military Experience" id="page17" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="militaryExperience-form2" class="list ">
            <label class="item item-input date1" id="militaryExperience-input8" name="date1">
                <span class="input-label">From</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input date2" id="militaryExperience-input9" name="date2">
                <span class="input-label">Till</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input title" id="militaryExperience-input10" name="title">
                <span class="input-label">Rank</span>
                <input type="text" placeholder="Your title">
            </label>
            <label class="item item-input summary" id="militaryExperience-textarea4" name="summary">
                <span class="input-label">Summary</span><textarea placeholder="What you worked as"></textarea>
            </label>
            <button id="militaryExperience-button2" class=" button button-dark button-large button-block ">Submit</button>
        </form>
    </ion-content>
</ion-view>