<ion-view title="Objectives Goals" id="page14" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="objectivesGoals-form13" class="list ">
            <label class="item item-select " id="objectivesGoals-select10">
                <span class="input-label">Select</span>
                <select>
                    <option>Career Goal</option>
                    <option>Career Objective</option>
                    <option>Employment Objective</option>
                    <option>Professional Objective</option>
                </select>
            </label>
            <label class="item item-input summary" id="objectivesGoals-textarea12" name="summary">
                <span class="input-label">Summary</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <button id="objectivesGoals-button13" class=" button button-positive  button-block ">Submit</button>
    </ion-content>
</ion-view>