<ion-view title="Social Responsibility" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="socialResponsibility-form6" class="list ">
            <label class="item item-input date1" id="socialResponsibility-input21" name="date1">
                <span class="input-label">Date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input title" id="socialResponsibility-input20" name="title">
                <span class="input-label">Title</span>
                <input type="text" placeholder="Responsibility ">
            </label>
            <label class="item item-input summary" id="socialResponsibility-textarea6" name="summary">
                <span class="input-label">Summary</span><textarea placeholder="Summarise all activities "></textarea>
            </label>
        </form>
        <button id="socialResponsibility-button5" class=" button button-positive  button-block submit">Submit</button>
    </ion-content>
</ion-view>