<ion-view title="Social Media Profiles" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="socialMediaProfiles-form5" class="list ">
            <label class="item item-select title" id="socialMediaProfiles-select4" name="title">
                <span class="input-label">Social Media</span>
                <select>
                    <option>Facebook</option>
                    <option>Twitter</option>
                    <option>Skype</option>
                    <option>Github</option>
                    <option>LinkdIn</option>
                    <option>Instagram</option>
                </select>
            </label>
            <label class="item item-input excerpt" id="socialMediaProfiles-input19" name="excerpt">
                <span class="input-label">Link</span>
                <input type="text" placeholder="Insert link to social media page">
            </label>
        </form>
        <button id="socialMediaProfiles-button4" class=" button button-positive  button-block ">Submit</button>
    </ion-content>
</ion-view>