<ion-view title="Status" id="page16" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="status-form15" class="list ">
            <label class="item item-input date1" id="status-input37" name="date1">
                <span class="input-label">Date</span>
                <input type="date" placeholder="When available to hire">
            </label>
            <ion-toggle toggle-class="toggle-balanced" id="status-toggle12" name="title" class=" title">Available</ion-toggle>
        </form>
        <button id="status-button12" class=" button button-positive  button-block ">Submit</button>
    </ion-content>
</ion-view>