<ion-view title="Summaries" id="page15" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="summaries-form14" class="list ">
            <label class="item item-select title" id="summaries-select11" name="title">
                <span class="input-label">Select</span>
                <select>
                    <option>Career Summary</option>
                    <option>Summary of Qualification</option>
                </select>
            </label>
            <label class="item item-input summary" id="summaries-textarea13" name="summary">
                <span class="input-label">Summary</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <button id="summaries-button11" class=" button button-positive  button-block ">Submit</button>
    </ion-content>
</ion-view>