<ion-view title="Work History" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="workHistory-form1" class="list ">
            <label class="item item-input date1" id="workHistory-input2" name="date1">
                <span class="input-label">From</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input date2" id="workHistory-input3" name="date2">
                <span class="input-label">Till</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input excerpt" id="workHistory-input5" name="excerpt">
                <span class="input-label">Organization</span>
                <input type="text" placeholder="Name the company">
            </label>
            <label class="item item-input summary" id="workHistory-input6" name="summary">
                <span class="input-label">Industry</span>
                <input type="text" placeholder="Trade">
            </label>
            <label class="item item-input custom1" id="workHistory-input7" name="custom1">
                <span class="input-label">Position</span>
                <input type="text" placeholder="What you worked as">
            </label>
            <label class="item item-input custom2" id="workHistory-textarea1" name="custom2">
                <span class="input-label">Summary</span><textarea placeholder=""></textarea>
            </label>
            <button id="workHistory-button1" class=" button button-dark button-large button-block ">Submit</button>
        </form>
    </ion-content>
</ion-view>