<ion-view id="page16" title="SEND" class="no-header">
    <ion-nav-buttons  side="right" side="primary">
        <a class="button button-outline button-stable" style="margin-right: 10px;" href="#/settings"><i class="icon ion-ios-gear-outline"></i></a>
        <button class="button button-outline button-stable" ng-click="logout()"><i class="icon ion-log-out"></i></button>
    </ion-nav-buttons>
    <ion-content padding="true">

        <div class="card">
            <div class="padding">
                <div class="item item-divider item-borderless item-stable">
                    Select File Format
                </div>
                <li class="item item-checkbox item-icon-right checkbox-assertive">
                    PDF
                    <label class="checkbox">
                        <input class="updatePDFOutput" type="checkbox" checked>
                    </label>
                    <i class="icon ion-android-document"></i>
                </li>
                <li class="item item-checkbox item-icon-right checkbox-positive">
                    Microsoft Office
                    <label class="checkbox">
                        <input class="updateWordOutput" type="checkbox" checked>
                    </label>
                    <i class="icon ion-social-windows-outline"></i>
                </li>
                <li class="item item-checkbox item-icon-right checkbox-balanced">
                    Private Online link
                    <label class="checkbox">
                        <input class="updateHTMLOutput" type="checkbox" checked>
                    </label>
                    <i class="icon ion-social-html5-outline"></i>
                </li>
            </div>
        </div>

        <div class="card">
            <div  ng-repeat="about in abouts | limitTo:1" class="hidden" hidden>
                <input type="text" class="fromName" value="{{ about.firstName }} {{ about.middleName }} {{ about.lastName }}" disabled disabled="disabled" >
            </div>
            <div class="padding">
                <div class="item item-divider item-borderless item-stable">
                    Email
                </div>
                <label class="item item-input">
                    <span class="input-label">Email *</span>
                    <input type="text" placeholder="Email (Required)" class="toEmail">
                </label>
                <label class="item item-input">
                    <span class="input-label">Message</span>
                    <textarea type="text" placeholder="Message" class="toMessage"></textarea>
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <button ng-click="saveCV()" class="button button-block button-positive">Send</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button ng-click="shareNative()" class="button button-block button-positive">Native</button>
                </div>
                <div class="col">
                    <button ng-click="shareWhatsApp()" class="button button-block button-positive">Whatsapp</button>
                </div>
                <div class="col">
                    <button ng-click="shareTwitter()" class="button button-block button-positive">Twitter</button>
                </div>
                <div class="col">
                    <button ng-click="shareFacebook()" class="button button-block button-positive">Facebook</button>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>