<form><div class="list"><label class="item item-select title popupselect"><span class="input-label">Salutation</span><select class="Salutation"><option value="Mr">Mr</option><option value="Ms">Ms</option><option value="Mrs">Mrs</option><option value="Dr">Dr</option><option value="Prof">Prof</option><option value="Judge">Judge</option><option value="Advocate">Advocate</option></select>
        </label>
        <div class="row nomargin nopadding">
            <div class="col nomargin nopadding input-left"><input type="text" class="firstName" placeholder="First Names"></div><div class="col nomargin nopadding"><input type="text" class="middleName" placeholder="Middle Names"></div></div><div class="row nomargin nopadding"><div class="col nomargin nopadding"><input type="text" class="lastName" placeholder="Last Name"></div></div><div class="row nomargin nopadding">
            <div class="col nomargin nopadding input-left">
                <label class="item item-select title popupselect">
                    <span class="input-label">Gender</span>
                    <select class="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </label>
            </div>
            <div class="col nomargin nopadding">
                <input type="date" class="dateOfBirth" placeholder="Date of Birth">
            </div>
        </div>
        <div class="row nomargin nopadding">
            <div class="col nomargin nopadding input-left"><input type="text" class="language"
                                                                  placeholder="First Language "></div>
            <div class="col nomargin nopadding"><input type="text" class="religion" placeholder="Religion"></div>
        </div>
        <div class="row nomargin nopadding">
            <div class="col nomargin nopadding input-left">
                <label class="item item-select title popupselect">
                    <span class="input-label">Nationality</span>
                    <select class="nationality">
                        <option value="Male">Country</option>
                        <option value="Female">Female</option>
                    </select>
                </label>
            </div>

            <div class="col nomargin nopadding">
                <label class="item item-select title popupselect">
                    <span class="input-label">Ethnicity</span>
                    <select class="ethnicity">
                        <option value="Male">Black</option>
                        <option value="Female">Female</option>
                    </select>
                </label>
            </div>
        </div><div class="row nomargin nopadding"><div class="col nomargin nopadding input-left"><input type="text" class="homePhone" placeholder="Phone (H)"></div><div class="col nomargin nopadding"><input type="text" class="mobilePhone" placeholder="Phone (M)"></div></div><div class="row nomargin nopadding"><div class="col nomargin nopadding input-left"><input type="text" class="emailAddress" placeholder="Email Address"></div><div class="col nomargin nopadding"><input type="text" class="website" placeholder="Website"></div></div>

        <textarea placeholder="Postal Address" class="postalAddress"></textarea>
<textarea placeholder="Physical Address (Optional)" class="homeAddress"></textarea></div></form>