<ion-view title="List" id="page4" class=" ">
    <ion-nav-buttons  side="right" side="primary">
        <a class="button" href="#/Status"><i class="icon ion-ios-person"></i> </a>
        <button class="button" ng-click="itemAdd(item)"><i class="icon ion-android-add"></i> </button>
        <button class="button" ng-click="data.showDelete = !data.showDelete;"><i class="icon ion-compose"></i> </button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
            <ion-item ng-repeat="item in items" item="item" href="#/item/{{item.id}}" class="item-remove-animate">
                Item {{ item.id }}
                <ion-delete-button class="ion-ios-close-empty" ng-click="onItemDelete(item)"></ion-delete-button>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>