<ion-view id="recoverPage" class="no-header">
    <ion-content padding="true" class="has-header">
        <form id="recover-form6" class="list ">
            <ion-list id="recover-list5" class=" ">
                <label class="item item-input " id="recover-input10">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Recover login" class="resetemail">
                </label>
            </ion-list>

            <button id="recover-button4" class=" button button-stable  button-block " ng-click="recover()">Recover</button>
            <a href="#/signup" class=" button button-positive  button-block button-clear ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>