<ion-view title="" id="signupPage" class="no-header">
    <ion-content padding="true" class="has-header">
        <form id="signup-form4" class="list ">
            <ion-list id="signup-list4" class=" ">
                <label class="item item-input " id="signup-input6">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" class="username">
                </label>
                <label class="item item-input " id="signup-input4">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="" class="email">
                </label>
                <label class="item item-input " id="signup-input5">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" class="password">
                </label>
            </ion-list>
            <button id="signup-button3" class=" button button-stable  button-block" ng-click="signUpClient()">Sign up</button>
            <a href="#/login" id="signup-button6" style="color:#5E96F8;" class=" button button-light  button-block">Login</a>
        </form>

    </ion-content>
</ion-view>