<ion-view id="status" title="SHARE" class="no-header">
    <ion-nav-buttons  side="right" side="primary">
        <a class="button button-outline button-stable" style="margin-right: 10px;" href="#/settings"><i class="icon ion-ios-gear-outline"></i></a>
        <button class="button button-outline button-stable" ng-click="logout()"><i class="icon ion-log-out"></i></button>
    </ion-nav-buttons>
    <ion-content padding="true">

        <div ng-if="abouts.length === 0" class="emptyPageBlock">
            <img src="../img/credibility.svg"  style="opacity: 0.3; max-height: 120px;">
            <h3 class="nomargin">Build Resume</h3>
            <p class="nomargin">Start building your resume now</p><br />
            <a class="button button-balanced" href="#/About">
                Start Building
            </a>
        </div>

            <div  ng-repeat="about in abouts | limitTo:1" about="about">
                <div class="row">
                    <div class="col text-center">
                        <ion-spinner icon="ripple"></ion-spinner>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card text-left padding" style="margin-top: 0; margin-bottom: 0;">
                            <h3 style="font-weight: lighter;">Welcome {{about.firstName}}</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" ng-hide="{{subscribed}}">
                        <div class="card text-center" style="margin-top: 0; margin-bottom: 0;">
                            <h1 style="font-size: 60px; font-weight: lighter; color: #333; text-align: center;">{{emailSent}}</h1>
                            <p style="color: #979797;">Free emails remaining</p>
                            <button class="button button-clear button-positive">
                                Get Unlimited
                            </button>
                        </div>
                    </div>
                    <div class="col" ng-hide="{{subscribed}}">
                        <div class="card text-center" style="margin-top: 0; margin-bottom: 0;">
                            <h1 style="font-size: 60px; font-weight: lighter; color: #333; text-align: center;">0</h1>
                            <p style="color: #979797;">Premium Templates</p>
                            <button class="button button-clear button-assertive">
                                Go Pro
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button ng-click="emailCV(about)" class="button button-large button-outline button-block button-positive icon ion-ios-email-outline"> Send</button>
                    </div>
                    <div class="col">
                        <button ng-click="shareNative(about)" class="button button-large button-outline button-block button-balanced icon ion-android-share-alt"> Share</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button ng-click="generateCV(about)" class="button button-large button-block button-stable"> Generate</button>
                    </div>
                </div>
            </div>




    </ion-content>
</ion-view>